.img1{
  float: right;
}

.column{
  width=350px;
  float: right;
}
.menu{
  align-content: center;
}
}
.box{
    border: 3px solid red;
  }
ol{
  text-align: justify;
  background-color: #CEF1DD
}
one{
  background-color: #CCDCDE ;
}
img{
  float: right;
}
h1{
  font-style: italic;
  color: #186A3B  ;
}
.two{
  margin-left:50%;
  margin-right:50%;
  height:auto;
  width: auto;
}
