.img1 {
  float: right;
}

.column {
  width=350px;
  float: right;
}

.menu {
  align-content: center;
}

}

.box {
  border: 3px solid red;
}

ol {
  text-align: justify;
  background-color: #CEF1DD;
}

.one{
  background-color: #F1FCD0;
}

img {
  float: right;
}

h1 {
  font-style: italic;
  color: #186A3B;
}

.two {
  margin-left: 50%;
  margin-right: 50%;
  height: auto;
  width: auto;
}

.p1 {
  font-family: monospace;
}

.p2 {
  font-family: courier New;
}

.boo {
  background-image: url("../img/mekids.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.dad{
  color:cyan;
}
